<div class="container">
  <h1>YELP Restaurants</h1>
  <% @restaurants.each do |restaurant| %>
    <div class="card-product">
      <div class="card-product-infos">
        <h2><%= restaurant.name %></h2>
        <p><%= restaurant.address %></p>
        <p><%= restaurant.phone_number%></p>
        <% restaurant.reviews.each do |review| %>
        <h2><%= review.content %></h2>
        <% end %>


      </div>
  <% end %>
</div>





